body {
    margin: 0;
    font-family: "Lucida Grande";
}

header {
    background-color: #26d0c9;
    color: rgb(255, 255, 255);
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 60px;
    margin: 15px 30px 15px 15px;
}

a {
    text-decoration: none;
}

.header-list li {
    float: left;
}

.li {
    float: left;
    list-style: none;
    font-size: 20px;
    padding: 12px;
    margin: 30px;
}

.txt-search {
    text-align: center;
    margin: 40px;
}
